# ================ #
# Project Specific #
# ================ #
Blender/*.blend1

# =============== #
# Unity generated #
# =============== #
C.A.R.D/[Tt]emp/
C.A.R.D/[Oo]bj/
C.A.R.D/[Bb]uild
C.A.R.D/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
.idea*/
C.A.R.D/*.csproj
C.A.R.D/*.sln
*/[Bb]in/
*/[Oo]bj/
*/[Bb]in/
*/[Oo]bj/
packages
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
*.TMP
